.header{


    background-color: rgb(254 249 195);
    border: 2px solid red;
    width: 100lvh
    position: sticky;
}
.fle{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.img{
    height: 70px;
    width: 80px;
    border-radius: 50%;
}